{% load header_tags %}
{% comment %}
<nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{% url 'home' %}">CRM</a>

    <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menu</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link {% if request.path == '/' %}active{% endif %}" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          {% if request.user.is_superuser %}
          <li class="nav-item">
            <a class="nav-link {% if request.path == '/offices/' %}active{% endif %}" aria-current="page" href="{% url 'offices_list' %}">Все пункты</a>
          </li>
          {% endif %}
          <hr>
          {% get_offices request %}
          <!--
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Help
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="#">Article 1</a></li>
              <li><a class="dropdown-item" href="#">Article 2</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          -->
          {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Выйти</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Войти / Зарегистрироваться</a>
          </li>
          {% endif %}
        </ul>

      </div>
    </div>
  </div>
</nav>
{% endcomment %}
<div class="container">
  <div class="row py-3">
    <div class="sidebar-menu my-3 col-md-2 col-sm-12">
      <div class="list-group">
        <a href="{% url 'home' %}" class="list-group-item list-group-item-action {% if request.path == '/' %}active{% endif %}" aria-current="true">
          Главная
        </a>
        {% if request.user.is_superuser %}
        <a href="{% url 'offices_list' %}" class="list-group-item list-group-item-action {% if request.path == '/offices/' %}active{% endif %}">Все пункты</a>
        {% endif %}
        <hr>
        {% get_offices request %}
        <hr>
        {% if request.user.is_authenticated %}
        <a href="{% url 'logout' %}" class="list-group-item list-group-item-action">Выйти</a>
        {% else %}
        <a href="{% url 'home' %}" class="list-group-item list-group-item-action">Войти / Зарегистрироваться</a>
        {% endif %}
      </div>
    </div>
    <div class="col-md-10 col-sm-12 content">
      {% if request.user.is_authenticated %}
        <div class="row text-center">
          {% get_years_buttons request %}
          {% if request.session.office %}
            {% get_sub_menu request %}
          {% endif %}
        </div>
    {% endif %}


