{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h1>{{ title }}</h1>
{% if request.user.is_superuser %}
  <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#add_employee">Добавить расход</button>
{% endif %}
<div class="row">
  {% for employee in employees %}
  <div class="col-sm-12 col-md-6 col-lg-4 p-2">
    <div class="card">
      <div class="card-header">
        {{ employee.name }}
      </div>
      <div class="card-body">
        <p class="card-text m-1">Зарплата: {{ employee.salary }}</p>
        <p class="card-text m-1">Телефон: {{ employee.phone }}</p>
        <p class="card-text m-1">Добавлен: {{ employee.created_at }}</p>
        <p class="card-text m-1">Комментарий: {{ employee.comment }}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

  {% include 'inc/_pagination.html' %}

<!-- Modal -->
<div class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" id="add_employee">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="post">
          {% csrf_token %}
      <div class="modal-body">

            {{ form|crispy }}

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        {% if not request.user.is_superuser %}
        <button type="submit" class="btn btn-lg btn-primary">Добавить</button>
        {% else %}
        <button type="submit" class="btn btn-primary">Добавить</button>
        {% endif %}
      </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
