{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
  <h1>{{ title }}</h1>
  {% if request.user.is_superuser %}
  <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#add_payment_modal">Добавить расход</button>
  {% endif %}
  <table class="table table-bordered text-center my-2">
    <thead>
      <tr>
        <th>Месяц</th>
        <th>Дата</th>
        <th>Расход</th>
        <th>Комментарий</th>
      </tr>
    </thead>
    <tbody>
      {% for key, value in result_table.items %}
        {% if value|length > 1 %}
          {% for item in value %}
            <tr>
              {% if forloop.counter == 1 %}
                <td rowspan="{{ value|length }}">{{ key }}</td>
              {% endif %}
              <td>{{ item.date }}</td>
              <td>{{ item.amount }} {{ item.currency.symbol }} <a href="{% url 'edit_expense' item.id %}"><i class="fa-regular fa-pen-to-square"></i></a> <a href="{% url 'delete_expense' item.id %}"><i class="fa-regular fa-trash-can"></i></a></td>
              <td>{{ item.comment }}</td>
            </tr>
          {% endfor %}
        {% else %}
        <tr>
          <td>{{ key }}</td>
          {% if value %}
          <td>{{ value.0.date }}</td>
          <td>{{ value.0.amount }} {{ value.0.currency.symbol }} <a href="{% url 'edit_expense' value.0.id %}"><i class="fa-regular fa-pen-to-square"></i></a> <a href="{% url 'delete_expense' value.0.id %}"><i class="fa-regular fa-trash-can"></i></a></td>
          <td>{{ value.0.comment }}</td>
          {% else %}
          <td>-</td>
          <td>-</td>
          <td>-</td>
          {% endif %}
        </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>



<!-- Modal -->
<div class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" id="add_payment_modal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Добавление расхода</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="post">
          {% csrf_token %}
      <div class="modal-body">

            {{ form|crispy }}


      </div>
        <script>
          $(function () {
            $("#id_date").datetimepicker({
              format: 'd.m.Y',
              timepicker: false,
              scrollMonth : false,
              scrollDay: false,
              scrollYear: false,
              scrollInput : false
            });
          });
        </script>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
        {% if not request.user.is_superuser %}
        <button type="submit" class="btn btn-lg btn-primary">Добавить</button>
        {% else %}
        <button type="submit" class="btn btn-primary">Добавить</button>
        {% endif %}
      </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}

