{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block title %}{{ title }}{% endblock %}


{% block content %}
<h1>{{ title }}</h1>
{% if request.user.is_superuser %}
  <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#add_fine">Добавить пункт</button>
{% endif %}
<div class="row">
  {% for office in offices %}
  <div class="col-sm-12 col-md-6 col-lg-4 p-2">
    <div class="card">
      <div class="card-header">
        {{ office.name }} <a href="{% url 'edit_office' office.id %}"><i class="fa-regular fa-pen-to-square"></i></a> <a href="{% url 'delete_office' office.id %}"><i class="fa-regular fa-trash-can"></i></a>
      </div>
      <div class="card-body">
        <p class="card-text m-1">Адрес: {{ office.address }}</p>
        <p class="card-text m-1">Админ: {{ office.admin_user }}</p>
        <a href="{{ office.get_absolute_url }}" class="btn btn-primary">Выбрать</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

  {% include 'inc/_pagination.html' %}

<!-- Modal -->
<div class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" id="add_fine">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Добавить пункт</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="post">
          {% csrf_token %}
      <div class="modal-body">

            {{ form|crispy }}


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
        {% if not request.user.is_superuser %}
        <button type="submit" class="btn btn-lg btn-primary">Добавить</button>
        {% else %}
        <button type="submit" class="btn btn-primary">Добавить</button>
        {% endif %}
      </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}


