{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
  <h1>{{ title }}</h1>
{% if result_table %}
  <table class="table table-bordered text-center describe_table">
    <thead>
      <tr>
        <th rowspan="2">Месяц</th>
        <th colspan="2" class="gray-background">Аренда</th>
        <th rowspan="2">Коммунальные платежи</th>
        <th rowspan="2" class="gray-background">Иные расходы</th>
        <th rowspan="2">Зарплата</th>
        <th rowspan="2" class="gray-background">Штрафы</th>
        <th rowspan="2">Итого (Сум)</th>
        <th rowspan="2">Итого ($)</th>
      </tr>
      <tr>
        <th class="gray-background">Сум</th>
        <th class="gray-background">$</th>
      </tr>
    </thead>
    <tbody>
      {% for row in result_table %}
        <tr>
          {% for cell in row %}
          <td
            {% if forloop.counter == 2 or forloop.counter == 3 or forloop.counter == 5 or forloop.counter == 7 %}
            class="gray-background"
            {% endif %}
          >{{ cell }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
<p>Расходов еще не было</p>
{% endif %}
{% endblock %}
