.content {
min-height: calc(100vh - 193px);
margin-top: 56px;
}

.alert-success {
--bs-alert-color: #146c43;
--bs-alert-bg: #d1e7dd;
--bs-alert-border-color: #a3cfbb;
--bs-alert-link-color: #146c43;
}
.alert-error {
--bs-alert-color: #b02a37;
--bs-alert-bg: #f8d7da;
--bs-alert-border-color: #f1aeb5;
--bs-alert-link-color: #b02a37;
}
table .weekend {
    background-color: yellow;
}
table .custom-btn {
    width: 100%;
    border: none;
    border-radius: 5px;
    height: 100%;
    background: none;
}
table .custom-btn:hover {
    background-color: lightgray;
    cursor: pointer;
}
table .red-btn {
    background-color: lightcoral;
}
table .green-btn {
    background-color: lightgreen;
}
table .double-color-btn{
  background: linear-gradient(
    to right,
    lightcoral 0%,
    lightcoral 50%,
    lightgreen 50%,
    lightgreen 100%
  );
}
table.table.describe_table tr td:nth-last-child(2), table.table.describe_table tr td:last-child {
    background: lightpink;
    font-weight: bold;
}
table.table.describe_table tbody tr:last-child {
    background: lightpink;
    font-weight: bold;
}